build
bin
Bin
obj
BenchmarkDotNet.Artifacts
_ReSharper*
*.swp
*.user
*.patch
*.hg
*.sln.cache
desktop.ini
*.ReSharper
*.orig
*.suo
*.itrace.csdef
*.build.csdef
packages
src/*.testsettings
src/TestResults
src/*.vsmdi
artifacts
*.vsp
*.vspx
*.psess
project.lock.json
*.mdb
.vs/
.build/
.testPublish/ 
.dotnetcli
*.qgs~
*.output.csv
